.rbc-time-view .rbc-row{
  min-height: 0px !important;
}
.rbc-header{
  height: 100px;
}
.rbc-time-slot{
  min-height: 30px;
}
.rbc-label{
  color: #3284CB;
}
.rbc-label{
  font-weight: 600;
}
.rbc-day-slot .rbc-time-slot{
  border-top: 0px solid #f7f7f7 !important;
}
.rbc-event, .rbc-day-slot .rbc-background-event{
  background-color: white !important;
  border: none !important;
  overflow: auto I !important;
}
.rbc-event-label{
  font-size: 100% !important;
  left: 80% !important;
}
.rbc-event-label{
  display: none !important;
}
.rbc-event{
  height: 5.77778% !important;
}
